
.container{
  justify-content: space-around;
  flex-grow: 1;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  >*{
    padding:0px;
    margin:0px;
    
      
  }
  img{
    
  }
  .text-block{
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;  
  width:100%;
  min-width: 100px;

  }

  .phones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

}